<!DOCTYPE html>
<html>
<head>
	<title>SpotSport Game</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/superhero/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body	{padding-top: 80px; }
	</style>
</head>
<body>
	<div class="container"><% %>
		<div class="jumbotron text-center">
			<h1><span class="fa fa-gamepad" aria-hidden="true">SpotSport</span></h1>
			<p>Select A game:<%= message %></p>
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				  <div class="btn-group" role="group">
				    	<button type="button" class="btn btn-default"></button>
				  </div>
				  <div class="btn-group" role="group">
				    	<button type="button" class="btn btn-default">Tennis</button>
				  </div>
				  <div class="btn-group" role="group">
				    	<button type="button" class="btn btn-default">Rugby</button>
				  </div>
			</div>
		</div>
		<% %>
	</div>
</body>
</html>