<!DOCTYPE html>
<html>
<head>
	<title>SpotSport Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body	{padding-top: 80px; }
	</style>
</head>
<body>
	<div class="container">
		<strong>id</strong>: <%= user._id %><br>
		<strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
	</div>
</body>
</html>